html{
  height:100%;
}

body{
  height:100%;
  margin:0;
  font-size:20px;
}

.header{
  border-style: solid;
  border-color:red;
  font-weight: bold;
}

.headerTop{
  font-size:30px;
}

.headerTitle{
  font-size:45px;
}

.headerBottom{
}

.mainContent{
  min-height: calc(100vh - 50px);
  border-style:solid;
  border-color:blue;
}

.dateAndTime{
  border-style:solid;
}

.footer{
  /* height:50px; */
  border-style: solid;
  border-color:red;
  font-size:20px;
}

.footerTitle{
  font-Weight:bold;
}


.footerOwner{

}

.footerGithub{
  font-weight: bold;
}

/* about position :  https://developer.mozilla.org/ko/docs/Web/CSS/position */
/* about calc() : ... */
/* about vh() : ... */